###########################################################
#################### terminal helpers #####################
###########################################################

alias ll='ls -l'
alias lll='ls -al'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias rmdir='rm -rf'
alias bugs='cd ~/SharedWithVM/bugs'
alias tasks='cd ~/SharedWithVM/tasks'
alias ta='tmux attach -t'
alias tl='tmux ls'
alias sl='screen -ls'
alias sa='screen -r'
alias sc='screen -S'
alias sd='screen -d'
alias fs='wmctrl -r :ACTIVE: -btoggle,fullscreen'
alias crashVM='sudo crash /usr/lib/debug/lib/modules/`uname -r`/vmlinux'
function khg { grep -i "$1" ~/EnvKopzon/Commands/history --color; }
alias khs="history 2 | head -1 | sed 's/[^ ]* *//' | sed 's/[^ ]* *//' >> ~/EnvKopzon/Commands/history"
alias hg="history | grep"
alias xsc='xclip -sel clip'
alias e='emacs ~/.emacs . &'
alias et='emacs ~/.emacs . --no-window-system'
alias cmake='/usr/local/bin/cmake'
unalias gtags
alias gt_full='GTAGSFORCECPP=1 gtags --gtagsconf ~/MyConf/.globalrcFull'
alias gt='GTAGSFORCECPP=1 gtags --gtagsconf ~/MyConf/.globalrc'
alias tags_py='find . -name "*.py" -print | etags -'
alias tags_el='find . -name "*.el" -print | etags -'
alias tags_c='find . -name "*.c*" -o -name "*.h" -print | etags -'
alias shareF='sudo mount -t vboxsf SharedWithVM ~/SharedWithHOST/'
alias mountS='sudo mount -t vboxsf SharedWithVM ~/SharedWithHOST/'


# $1 - pattern
# $2 - src
# $3 - dst
function copy_files_by_pattern { if [ "$#" -ne 3 ]; then echo "args: pattern src dst"; else mkdir -p $3; find $2 -maxdepth 1 -type f | grep -i $1 | xargs -i cp {} $3; fi; }

###########################################################
########################### git ###########################
###########################################################
alias gl='git log --format="%h %C(bold red)%ad %Creset%Cred(%ar) %Creset%C(bold green)%an%C(bold yellow)%d %C(reset)%s" --date=short'
alias lscore='ls $(dirname $(cat /proc/sys/kernel/core_pattern))/core*'
alias gs='git branch && git status'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gpo='git push -u origin'
alias gcp='git cherry-pick -x'
alias gkf='git branch -r | grep -E 3\.[05].*Kernel-Fixes'
alias git_save_credentials='git config --global credential.helper store'
alias glast='git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format="%(refname:short)"'

# $1 - branch name
function gcg { git checkout $1 && gtags; }

##########################################################
########################### rdb ##########################
##########################################################
# $1 - repository number
function RDB { cd ~/rdb_$1/; }
function SRC { cd ~/rdb_$1/src/; }

alias src='cd ~/rdb/src'
alias rdb='cd ~/rdb/'
alias bld='./rebuild.sh clang Debug 0'
alias bldgcc='./rebuild.sh gcc Debug 0'

alias cloneRDB='git clone https://github.com/eranborovik/rdb.git'
alias upDate='sudo ~/upDate.sh'
alias cleanRep='rm -rfd *core.* *trace.* *.trace* *.log test__* /tmp/tmp.* /tmp/vgdb-pipe-* /tmp/lto-llvm-* /tmp/nos_dev* /tmp/chunker_file* ./nos_node_*/'

alias lltmp='ll /tmp/tmp.* | sort -k 8 | sort -k 7'
